<h1>Successful adoptions so far: </h1>

<div class="owner-record-wrapper">

  <ol>
  <% for owner in @owners do %>

  <li>
  <p>Name: <%= owner.first_name %> <%= owner.last_name %></p>
  <p>Address: <%= owner.address %></p>
  <p>Pets: <a href="/animals/<%=owner.pet_id%>"><%= owner.find_pet_name(owner.pet_id) %> </a> </p>
  </li>

  <% end %>
  </ol>
</div>
